NODE_ENV=development
PORT=10000
DATABASE_URL=postgresql://kutlwano_and_associate_medico_legal_user:73Ca0N8tlU1Nm7SSU5yMP0197quX9ix1@dpg-d8u0j9uq1p3s73fs1tl0-a/kutlwano_and_associate_medico_legal
JWT_ACCESS_SECRET=change-me-access-minimum-32-characters
JWT_REFRESH_SECRET=change-me-refresh-minimum-32-characters
COOKIE_SECRET=change-me-cookie-minimum-32-characters
CSRF_SECRET=change-me-csrf-minimum-32-characters
RESEND_API_KEY=re_3iF5mStG_6xGR64DzYzrtqsmarCgPgGzD
EMAIL_FROM=boshomane@kutlwanoassociate.com
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:10000
SUPER_ADMIN_EMAIL=boshomane@kutlwanoassociate.com
SUPER_ADMIN_PASSWORD=ChangeMe!ChangeMe!2026
